body, html {
    height: 100%;
    width: 100%;
    display: flex;
}
img#backgroundImg {
    z-index: -2;
}
div#backgroundDim {
    z-index: -1;
}
#navbar {
    z-index: 1;
}
#navBackground {
    z-index: 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}
.inputContainer {
    color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
}
#submitBtn {
    border-radius: 10px;
    padding: 1vh 1vw;
    background: black;
    border: none;
    width: max-content;
    margin-left: auto;
    margin-right: 2vw;
    background-image: linear-gradient(to left, black, black 50%, white 50%, white);
    background-size: 200% 100%;
    transition: .3s;
}
#submitBtn:hover {
    color: white;
    background-position: 99% 0;
    cursor: pointer
}
#closeBtn {
    margin-top: 3vh;
    position: relative;
    float: right;
}
.userInput {
    margin: 1vh 1vw;
    width: 30vw;
    height: 7.5vh;
    padding-left: 1vw;
    border-radius: 100px;
    font-size: 1.25rem;
}
#showPassInput {
    margin-left: 1vw;
}
#showPassContainer, #forgetPassH4 {
    width: max-content;
    margin-left: auto;
    margin-right: 2vw;
}
#message {
    white-space: nowrap;
}
#forgetPassLink {
    transition: .3s;
    color: #007bff;
}
#forgetPassLink:hover {
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}
.alert {
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
}