body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}
#backgroundImg, #backgroundDim {
    z-index: -1;
}

#resetPassForm {
    display: flex;
    width: max-content;
    margin: auto;
}
.columns {
    display: flex;
    flex-direction: column;
}
.resPassLabels {
    display: flex;
    width: max-content;
    height: 5vh;
    margin-left: auto;
}
.resPassHeader {
    margin: auto 0;
}
.resPassLabels {
    color: white;
}
.resPassInputs {
    padding: 1vw;
    width: 20vw;
    border-radius: 100px;
    height: 5vh;
    margin-bottom: 0.5rem;
}
#column2 {
    margin-left: 1vw;
}
#resPassSubmit {
    width: max-content;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    padding: 1vh 1vw;
    background-image: linear-gradient(white, white 50%, black 50%, black);
    background-size: 100% 200%;
    transition: .3s;
}
#resPassSubmit:hover {
    color: white;
    background-position: 0 -99%;
    cursor: pointer
}