.body {
    background: black;
}
.resBackground {
    background: linear-gradient(#575757, black);
    height: 50vh;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 70%;
    width: 100%;
}
#navbar {
    z-index: 4;
}
#navBackground {
    z-index: 3;
}
#Logo {
    z-index: 3;
}
.searchbar {
    z-index: 3;
}
.searchDiv {
    margin-top: 7.5vh;
}
.Table {
    position: relative;
    width: 50%;
}
.resInfoLink:hover {
    text-decoration: none;
}
.card-deck {
    margin-bottom: 10vh;
}
.resList {
    padding: 0;
    list-style: none;
}
.resName {
    transition: .3s;
    color: black;
    font-weight: bold;
}
.resName:hover {
    color: #007bff;
    cursor: pointer;
}
.bodyContainer {
    display: flex;
    margin-top: 10vh;
}
.Table, .filterNSortDiv {
    margin: 0 auto;
    z-index: 3;
}
.filterNSort {
    position: sticky;
    top: 5vh;
    color: white;
    padding: 2vh 2vw;
    z-index: 2;
}
hr {
    background: white;
}
.FilterTitle {
    color: white;
    margin-bottom: 1vh; 
}
.filterLabel {
    margin: 0;
    margin-left: 1vw;
}
.filterList {
    list-style: none;
    padding: 0;
    margin-top: 1vh;
}
.filters {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.sortList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sortBy {
    width: max-content;
}
.sortBtn {
    background: none;
    color: white;
    border: none;
}
.selected {
    font-weight: bold;
}
.sortBtn:focus {
    border: none;
    outline: none;
}
.resBtns {
    margin-top: 1vh;
}