html {
    width: 100vw;
    height: 100vw;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    overflow: hidden;
}
div.restaurantDim {
    top: 100vh;
}
#navbar {
    z-index: 4;
}
#navBackground {
    z-index: 3;
}
#Logo {
    z-index: 3;
}
.searchDivDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}
.searchbar {
    position: relative;
    z-index: 3;
}
.searchDiv {
    transition: 0.5s;
    height: 100%;
}
form.searchUp {
    height: 18vh;
}
div.dimUp {
    top: 0;
}